<!-- <div class="chart"> -->
<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <div class="card-title-wrapper">
      <mat-card-title class="mycard-title">{{ chart.title }}</mat-card-title>
    </div>
  </mat-card-header>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    style="width: 100%; height: 100%; display: inline-block"
  ></highcharts-chart>

  <mat-card-actions>
    <button
      mat-button
      *ngIf="showSettings"
      (click)="removingChart()"
      mat-stroked-button
      color="warn"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="delete chart"
        fontIcon="delete"
      ></mat-icon>
      Remove
    </button>
    <button
      mat-button
      *ngIf="showSettings"
      (click)="updatingChart()"
      mat-stroked-button
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Edit chart"
        fontIcon="edit"
      ></mat-icon>
      Edit
    </button>
  </mat-card-actions>
</mat-card>

<!-- </div> -->
