.home-container {
  margin: auto 50px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  height: fit-content;
  min-height: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
